<div class="row" ng-controller="AdminCtrl">
    <div class="col-md-12">
        
        <div class="panel panel-primary">
            <div class="panel-heading">Delete manager</div>
            <div class="panel-body">

                <form novalidate class="css-form form-horizontal" role="form" name="form_delete_manager" id="form_delete_manager" method="post">

                    <div class="col-md-12">

                        <div class="form-group">
                            <label for="name" class="col-md-3">Name  *</label>
                            <div class="col-md-3">
                                <input type="text" ng-model="user.name" class="form-control" id="name" required placeholder="Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="firstname" class="col-md-3">First Name *</label>
                            <div class="col-md-3">
                                <input type="text" ng-model="user.firstname" class="form-control" id="firstname" required placeholder="First Name">
                            </div>
                        </div>  


            
                                <button ng-click="reset()"  type="reset" class="btn btn-warning">Delete</button>
                            </div>
                        
                        
               
                </form> 
                </div>
            </div>
        </div>
                
                
                
                
                
          
    



