<div class="row" ng-controller="AdminCtrl">
    <div class="col-md-12">
        
        <div class="panel panel-primary">
            <div class="panel-heading">Modify Manager</div>
            <div class="panel-body">

                <form novalidate class="css-form form-horizontal" role="form" name="form_modify_manager" id="form_modify__manager" method="post">

                    <div class="col-md-12">

                        <div class="form-group">
                            <label for="name" class="col-md-3">Name  *</label>
                            <div class="col-md-3">
                                <input type="text" ng-model="user.name" class="form-control" id="name" required placeholder="Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="firstname" class="col-md-3">First Name *</label>
                            <div class="col-md-3">
                                <input type="text" ng-model="user.firstname" class="form-control" id="firstname" required placeholder="First Name">
                            </div>
                        </div>  

                        <div class="form-group">
                            <label for="email" class="col-md-3">Email  *</label>
                            <div class="col-md-3">
                                <input type="email" ng-model="user.email" class="form-control" id="email" required placeholder="Email">
                            </div>
                        </div>  


                        <div class="form-group">
                            <label for="date_embauche" class="col-md-3">Date of hire *</label>
                            <div class="col-md-3">
                                <input type="text" ng-model="user.date_embauche" class="form-control" id="date_embauche" required placeholder="jj/mm/aa">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="project" class="col-md-3">Project *</label>
                            <div class="col-md-3">
                                <select ng-model="user.project" class="form-control" id="project">
                                    <option value="id_pr1">P1</option>  
                                    <option value="id_pr2">P2</option> 
                                    <option value="id_pr3">P3</option> 
                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contact" class="col-md-3">Contact *</label>
                            <div class="col-md-3">
                                <input type="text" ng-model="user.contact" class="form-control" id="contact" required placeholder="Contact">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="photo" class="col-md-3">Photo</label>
                            <div class="col-md-3">
                                <input type="file" ng-model="user.photo"  class="form-control" id="photo">
                            </div>
                        </div>

                        

                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-4">
            
                                <button ng-click="reset()"  type="reset" class="btn btn-warning">Modify</button>
                            </div>
                        </div>
                        
                    </div>     
                </form> 
                
                <div id="message"></div>
                
                
            </div>
        </div>
    </div>
</div>



