<div class="row" ng-controller="AdminCtrl">
    <div class="col-md-12">
        
        <div class="panel panel-primary">
            <div class="panel-heading">Liste Collaborators</div>
            <div class="panel-body">
                
                
                            
 <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>First Name</th>
          <th>Email</th>
          <th>Qualification</th>
          <th>Years Of Experience</th>
          
        </tr>
        </thead>
        
        <tbody>
        <tr>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>

        </tr>
       
       
        

        
 
 </tbody>
    </table>
                              
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                

               



