<div class="row" ng-controller="ProductCtrl">
    <form class="form-horizontal" ng-submit="add(newProduct)">
        <fieldset>
            <legend>Add a product</legend>
            <div class="control-group">
                <label class="control-label" for="name">Name</label>
                <div class="controls">
                    <input id="name" name="name" type="text" placeholder="name" ng-model="newProduct.name"/>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-success"><i class="icon-plus icon-white"></i> Add</button>
            </div>
        </fieldset>
    </form>
    
    {{ message}}
</div>
